<template name="home">
  <div class="template-home">
    <div class="page-header">
      <h1>Welcome to Project Title</h1>
    </div>
    <h4>Insert a stuff</h4>
    {{>quickForm collection='Stuff' type='insert' id='stuffInsert'}}

    {{#each stuffs}}
      <div class="stuff">
        <h5 class="title">{{ title }} <span class="badge">{{ votes.length }}</span></h5>
        <div class="stuff-body">{{ body }}</div>
        <div class="stuff-vote"><button class="btn btn-default">vote</button></div>
        <hr>
      </div>
    {{/each}}

  </div>
</template>
