<template name="index">

  <div class="ui grid">
    <div class="ui twelve wide center aligned column">
      <h1 class="ui header">
        Welcome to the Berlin Meteor Group
      </h1>

      <p>
        This is a playground for meteor newbies. What we wanna build:
      </p>

      <div class="ui bulleted list">
        <div class="item">Questions for the next meetups!!!</div>
        <div class="item">Meteor development resources</div>
        <div class="item">Submit links to tutorials, videos etc.</div>
        <div class="item">Rate it</div>
        <div class="item">Comment it</div>
      </div>
    </div>
    <div class="ui four wide center aligned column">
      <div class="ui header">
        Join us on meetup
      </div>
      <iframe width="225" height="570" src="http://meetu.ps/2PHRjZ" frameborder="0"></iframe>
    </div>
  </div>


</template>