<template name="index">
  <div class="ui container">

    <div class="ui large pink top fixed menu ">
      <div class="ui container">
        <div class="item">
          <img src="images/meteor.png"
               class="ui avatar image"/>
          Berlin Meteor Group
        </div>
      </div>
    </div>

    <div class="ui centered grid">
      <div class="center aligned column">
        <h1 class="ui header">
          Welcome to the Berlin Meteor Group
        </h1>

        <p>
          This is a playground for meteor newbies. What we wanna build:
        </p>

        <div class="ui bulleted list">
          <div class="item">Questions for the next meetups!!!</div>
          <div class="item">Meteor development resources</div>
          <div class="item">Submit links to tutorials, videos etc.</div>
          <div class="item">Rate it</div>
          <div class="item">Comment it</div>
        </div>
      </div>

    </div>

    <div class="ui centered grid">
      <div class="center aligned column">
        <div class="ui segment">
          <h1 class="ui header">Save the date</h1>

          <h2 class="ui header">
            <a href="http://www.meetup.com/Meteor-Berlin/events/225238898/" target="_blank">
              Meteor Hackathon on October 10, at RoofUp
            </a>
          </h2>

        </div>
      </div>
    </div>

  </div>

</template>